@* @* @page
@model CharacterEditorModel
@{
    ViewData["Title"] = "Character Editor";
}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1>@ViewData["Title"]</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="form1-tab" data-toggle="tab" href="#form1" role="tab" aria-controls="form1" aria-selected="true">Character Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="form2-tab" data-toggle="tab" href="#form2" role="tab" aria-controls="form2" aria-selected="false">Character Behavior</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <form method="post" asp-page-handler="EditCharacter">
                        <div class="tab-pane fade show active" id="form1" role="tabpanel" aria-labelledby="form1-tab">
                            <input type="hidden" asp-for="SelectedCharacter.characterID" />
                            <div class="form-group d-flex">
                                <div class="mr-3">
                                    <h2>Name: <span class="view-mode">@Model.SelectedCharacter.characterName</span></h2>
                                    <input type="text" asp-for="SelectedCharacter.characterName" name="SelectedCharacter.characterName" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.characterName" />
                                    <h4>Ancestry: <span class="view-mode">@Model.SelectedCharacter.ancestry</span></h4>
                                    <input type="text" name="SelectedCharacter.ancestry" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.ancestry" />
                                </div>
                                @* <div>
                                    <h2>Class: <span class="view-mode">@Model.SelectedCharacter.characterClass</span></h2>
                                    <input type="number" asp-for="SelectedCharacter.characterClass" name="SelectedCharacter.charClass" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.characterClass" /> 
                                    <select asp-for="SelectedCharacter.characterClass" class="form-control edit-mode d-none">
                                        <option value="Warrior">Warrior</option>
                                        <option value="Mage">Mage</option>
                                        <option value="Rogue">Rogue</option>
                                        <option value="Cleric">Cleric</option>
                                    </select>
                                </div> *@
@*                                 <div>
                                    <h2>Level: <span class="view-mode">@Model.SelectedCharacter.charLevel</span></h2>
                                    <input type="number" asp-for="SelectedCharacter.charLevel" name="SelectedCharacter.charLevel" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.charLevel" />
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div class="mr-3">
                                    <label>Current Health: @Model.SelectedCharacter.hp</label>
                                    <input type="number" asp-for="SelectedCharacter.hp" name="SelectedCharacter.hp" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.hp" />
                                    <br />
                                    <label>Maximum Health: @Model.SelectedCharacter.hpMax</label>
                                    <input type="number" asp-for="SelectedCharacter.hpMax" name="SelectedCharacter.hpMax" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.hpMax" />
                                </div>
                                <div class="mr-3">
                                    <label>AC: @Model.SelectedCharacter.ac</label>
                                    <input type="number" asp-for="SelectedCharacter.ac" name="SelectedCharacter.ac" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.ac" />
                                </div>
                                <div>
                                    <label>Movement: @Model.SelectedCharacter.movementSpeed</label>
                                    <input type="number" asp-for="SelectedCharacter.movementSpeed" name="SelectedCharacter.movementSpeed" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.movementSpeed" />
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>STR</th>
                                            <th>DEX</th>
                                            <th>CON</th>
                                            <th>INT</th>
                                            <th>WIS</th>
                                            <th>CHA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Score</td>
                                            <td><span class="character-strScore view-mode">@Model.SelectedCharacter.strScore</span><input type="number" asp-for="SelectedCharacter.strScore" name="SelectedCharacter.strScore" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.strScore" /></td>
                                            <td><span class="character-dexScore view-mode">@Model.SelectedCharacter.dexScore</span><input type="number" asp-for="SelectedCharacter.dexScore" name="SelectedCharacter.dexScore" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.dexScore" /></td>
                                            <td><span class="character-conScore view-mode">@Model.SelectedCharacter.conScore</span><input type="number" asp-for="SelectedCharacter.conScore" name="SelectedCharacter.conScore" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.conScore" /></td>
                                            <td><span class="character-intScore view-mode">@Model.SelectedCharacter.intScore</span><input type="number" asp-for="SelectedCharacter.intScore" name="SelectedCharacter.intScore" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.intScore" /></td>
                                            <td><span class="character-wisScore view-mode">@Model.SelectedCharacter.wisScore</span><input type="number" asp-for="SelectedCharacter.wisScore" name="SelectedCharacter.wisScore" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.wisScore" /></td>
                                            <td><span class="character-chaScore view-mode">@Model.SelectedCharacter.chaScore</span><input type="number" asp-for="SelectedCharacter.chaScore" name="SelectedCharacter.chaScore" class="form-control edit-mode d-none" value="@Model.SelectedCharacter.chaScore" /></td>
                                        </tr>
                                        <tr>
                                            <td>Ability Bonus</td>
                                            <td>@((@Model.SelectedCharacter.strScore - 10) / 2)</td>
                                            <td>@((@Model.SelectedCharacter.dexScore - 10) / 2)</td>
                                            <td>@((@Model.SelectedCharacter.conScore - 10) / 2)</td>
                                            <td>@((@Model.SelectedCharacter.intScore - 10) / 2)</td>
                                            <td>@((@Model.SelectedCharacter.wisScore - 10) / 2)</td>
                                            <td>@((@Model.SelectedCharacter.chaScore - 10) / 2)</td>
                                        </tr>
                                        <tr>
                                            <td>Saving Throw Proficiency</td>
                                            <td>
                                                <input type="checkbox" class="view-mode" @(Model.SelectedCharacter.strSaveProf ? "checked" : "") />
                                                <input type="checkbox" class="edit-mode d-none" asp-for="SelectedCharacter.strSaveProf" />
                                            </td>
                                            <td>
                                                <input type="checkbox" class="view-mode" @(Model.SelectedCharacter.dexSaveProf ? "checked" : "") />
                                                <input type="checkbox" class="edit-mode d-none" asp-for="SelectedCharacter.dexSaveProf" />
                                            </td>
                                            <td>
                                                <input type="checkbox" class="view-mode" @(Model.SelectedCharacter.conSaveProf ? "checked" : "") />
                                                <input type="checkbox" class="edit-mode d-none" asp-for="SelectedCharacter.conSaveProf" />
                                            </td>
                                            <td>
                                                <input type="checkbox" class="view-mode" @(Model.SelectedCharacter.intSaveProf ? "checked" : "") />
                                                <input type="checkbox" class="edit-mode d-none" asp-for="SelectedCharacter.intSaveProf" />
                                            </td>
                                            <td>
                                                <input type="checkbox" class="view-mode" @(Model.SelectedCharacter.wisSaveProf ? "checked" : "") />
                                                <input type="checkbox" class="edit-mode d-none" asp-for="SelectedCharacter.wisSaveProf" />
                                            </td>
                                            <td>
                                                <input type="checkbox" class="view-mode" @(Model.SelectedCharacter.chaSaveProf ? "checked" : "") />
                                                <input type="checkbox" class="edit-mode d-none" asp-for="SelectedCharacter.chaSaveProf" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm edit-button" onclick="toggleEdit(this)">Edit</button>
                            <button type="submit" class="btn btn-primary btn-sm save-button d-none">Save</button>
                        </div>
                        <div class="tab-pane fade" id="form2" role="tabpanel" aria-labelledby="form2-tab">
                            <!-- Character Behavior content goes here -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Character Vault</h2>
                <div class="sticky-top bg-white p-3 mb-3">
                    <button type="button" class="list-group-item list-group-item-action mb-3" data-toggle="modal" data-target="#CharacterEditorModal">Create new character</button>
                </div>
                <form method="post">
                    <input type="hidden" id="selectedCharacterId" name="selectedCharacterId" value="@Model.SelectedCharacter.characterID" />
                    <ul class="list-group">
                        @foreach (var character in Model.Characters)
                        {
                            <li class="list-group-item @(character.characterID == Model.SelectedCharacter.characterID ? "active" : "")" onclick="document.getElementById('selectedCharacterId').value = '@character.characterID'; this.closest('form').submit();">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-secondary text-white d-flex align-items-center justify-content-center mr-3" style="width: 30px; height: 30px;">
                                        @character.characterName.Substring(0, 2).ToUpper()
                                    </div>
                                    <span>@character.characterName (@character.accountID)</span>
                                    @* <i class="fas fa-pencil-alt edit-icon" onclick="toggleEdit(this); event.stopPropagation();"></i> *@
@*                                 </div>
                            </li>
                        }
                    </ul>
                </form>
            </div>
        </div>
    </div> *@

@*     <div class="modal fade" id="CharacterEditorModal" tabindex="-1" role="dialog" aria-labelledby="Character Editor" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Character Editor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="CreateCharacter">
                        <input type="hidden" id="selectedCharacterId" name="selectedCharacterId" value="@Model.SelectedCharacter.characterID" />
                        <label for="NameInput">Name: </label>
                        <input type="text" asp-for="NameInput" class="form-control" id="NameInput" name="NameInput" />
                        <label for="AncestryInput">Ancestry: </label>
                        <input type="text" asp-for="AncestryInput" class="form-control" id="AncestryInput" name="AncestryInput" />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<script>
    // function toggleEdit(button) {
    //     const parent = button.closest('.form-group, .melee-attack-details');
    //     const labels = parent.querySelectorAll('label, span');
    //     const inputs = parent.querySelectorAll('input, select');
    //     const editButton = parent.querySelector('.edit-button');
    //     const saveButton = parent.querySelector('.save-button');

    //     labels.forEach(label => label.classList.toggle('d-none'));
    //     inputs.forEach(input => input.classList.toggle('d-none'));
    //     editButton.classList.toggle('d-none');
    //     saveButton.classList.toggle('d-none');
    // }
    function toggleEdit(button) {
        const parent = button.closest('.tab-pane');
        const viewModeElements = parent.querySelectorAll('.view-mode');
        const editModeElements = parent.querySelectorAll('.edit-mode');
        const editButton = parent.querySelector('.edit-button');
        const saveButton = parent.querySelector('.save-button');

        viewModeElements.forEach(element => element.classList.toggle('d-none'));
        editModeElements.forEach(element => element.classList.toggle('d-none'));
        editButton.classList.toggle('d-none');
        saveButton.classList.toggle('d-none');
    }
</script>

<style>
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .rounded-circle {
        border-radius: 50%;
    }

    .bg-secondary {
        background-color: #6c757d;
    }

    .text-white {
        color: #fff;
    }

    .mr-3 {
        margin-right: 1rem;
    }

    .edit-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }

    .list-group-item:hover .edit-icon {
        display: inline;
    }
</style> *@